* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
}
main {
    text-align: center;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 454px;
    height: 454px;
    border: 2px solid black;
    margin: 0px auto;
}

#game-board div {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    font-size: 125px;
}